@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto";

    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto";

    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Roboto";

    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

html {
    margin: 0;

    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;

    font-family: "Roboto", "Arial", sans-serif;

    background-color: #849d8f;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.button {
    display: inline-block;

    text-decoration: none;

    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.button--main {
    padding: 10px 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 5px 0 rgba(172, 16, 0, 0.64);

    transition: color 0.3s, box-shadow 0.3s;
}

.button--main:hover,
.button--main:focus {
    color: #fefefe;

    background-image: linear-gradient(to top, rgba(231, 74, 53, 0.64) 0%, rgba(242, 104, 67, 0.64) 100%);
    box-shadow: 0 2px 5px 0 #ac1000;
}

.button--main:active {
    color: #fceeec;

    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 5px #942718;
}

.button--send {
    padding: 10px 18px;
}

.button--large {
    padding: 10px 41px;

    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background-color: #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 5px 0 rgba(172, 16, 0, 0.64);
}

.button--large:hover,
.button--large:focus {
    color: #fefefe;

    background-image: linear-gradient(to top, rgba(231, 74, 53, 0.64) 0%, rgba(242, 104, 67, 0.64) 100%);
    box-shadow: 0 2px 5px 0 #ac1000;
}

.button--large:active {
    color: #fceeec;

    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 5px #942718;
}

.button--filter {
    padding: 7px 28px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;

    transition: color 0.3s, background-color 0.3s;
}

.button--filter:hover,
.button--filter:focus {
    padding: 9px 30px;

    color: #323232;

    background-color: #ffffff;
    border: none;
}

.button--filter:active {
    padding: 9px 30px;

    color: #323232;

    background-color: #ededed;
    border: none;
    box-shadow: inset 0 2px 1px #696969;
}

.button--search {
    position: relative;

    padding: 17px 16px 16px;

    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);

    transition: color 0.3s, background-color 0.3s;
}

.button--search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;

    width: 17px;
    height: 100%;

    background-image: url(../img/icons/loupe.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button--search:hover,
.button--search:focus {
    color: #323232;

    background-color: #f8f7f4;
}

.button--search:hover::before,
.button--search:focus::before {
    background-image: url(../img/icons/loupe-dark.svg);
}

.button--user {
    position: relative;

    padding: 8px 17px 8px 44px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);

    transition: color 0.3s, background-color 0.3s;
}

.button--user::before {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;

    width: 20px;
    height: 100%;

    background-image: url(../img/icons/entrance.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button--user:hover,
.button--user:focus {
    color: #323232;

    background-color: #f8f7f4;
}

.button--user:hover::before,
.button--user:focus::before {
    background-image: url(../img/icons/entrance-dark.svg);
}

.button--cart {
    position: relative;

    padding: 8px 15px 8px 44px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);

    transition: color 0.3s, background-color 0.3s;
}

.button--cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;

    width: 21px;
    height: 100%;

    background-image: url(../img/icons/basket.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button--cart:hover,
.button--cart:focus {
    color: #323232;

    background-color: #f8f7f4;
}

.button--cart:hover::before,
.button--cart:focus::before {
    background-image: url(../img/icons/basket-dark.svg);
}

.button--remove {
    position: relative;

    padding: 7px 16px;

    color: #ffffff;

    background-color: transparent;
}

.button--remove::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 11px;
    height: 100%;

    background-image: url(../img/icons/cross-small.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button--close {
    position: relative;

    padding: 16px;

    color: #ffffff;

    background-color: transparent;
}

.button--close::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;

    width: 18px;
    height: 100%;

    background-image: url(../img/icons/cross-big.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo__img {
    height: 72px;

    vertical-align: middle;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-weight: 700;
    color: #ffffff;
}

.info-block__worktime {
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 16px;
}

.info-block__phone {
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;

    transition: color 0.3s;
}

.info-block__phone:hover,
.info-block__phone:focus,
.info-block__phone:active {
    color: #ffbc9e;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.main-menu__item {
    height: 36px;
    margin-right: 2px;
}

.main-menu__item:last-child {
    margin-right: 0;
}

.main-menu__item--dropdown {
    position: relative;
}

.main-menu__item--dropdown:hover .catalog {
    display: block;
}

.main-menu__link {
    position: relative;

    display: block;
    padding: 7px 13px;

    color: #ffffff;
    text-decoration: none;

    border-radius: 50px;

    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.main-menu__link::before {
    content: "";
    position: absolute;
    right: 13px;
    bottom: 6px;
    left: 13px;

    border-bottom: 1px solid rgba(248, 247, 244, 0.2);
}

.main-menu__item--dropdown:hover .main-menu__link,
.main-menu__link:hover,
.main-menu__link:focus {
    color: #323232;

    background-color: #f7f6f3;
}

.main-menu__link:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.main-menu__link--current {
    color: #ffffff;

    background-color: #d07058;
    border-bottom: 1px solid transparent;
    border-radius: 50px;
}

.main-menu__link--current::before {
    border-bottom: 1px solid transparent;
}

.catalog {
    position: absolute;
    top: 36px;
    left: -7px;
    z-index: 10;

    display: none;
    min-width: 143px;
    padding: 5px 0;

    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #323232;

    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog__item--marked {
    position: relative;

    margin-bottom: 10px;

    font-weight: 700;
}

.catalog__item--marked::after {
    content: "";
    position: absolute;
    right: 9px;
    bottom: -6px;
    left: 6px;

    height: 1px;

    background-color: rgba(50, 50, 50, 0.2);
}

.catalog__link {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 20px;

    color: #323232;
    text-decoration: none;

    transition: color 0.3s, background-color 0.3s;
}

.catalog__link:hover,
.catalog__link:focus {
    color: #323232;

    background-color: #fbded7;
}

.catalog__link:active {
    color: #323232;

    background-color: #f6b5a5;
}

.catalog__link--current {
    color: #ffffff;

    background-color: #d07058;
}

.catalog__link--current:hover,
.catalog__link--current:focus {
    color: #323232;

    background-color: #fbded7;
}

.catalog__link--current:active {
    color: #323232;

    background-color: #f6b5a5;
}

.search {
    position: relative;

    display: block;
    height: 36px;
}

.search__link {
    display: block;
}

.search:hover .search__form {
    display: flex;
}

.search:hover .button--search {
    color: #323232;

    background-color: #f8f7f4;
}

.search:hover .button--search::before {
    background-image: url(../img/icons/loupe-dark.svg);
}

.search__form {
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 10;

    display: none;
    flex-direction: column;
    width: 301px;
    padding: 20px 15px;

    background: #f8f7f4;
    border: none;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search__input {
    width: 100%;
    padding: 10px 15px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #323232;

    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.search__input:hover {
    padding: 9px 14px;

    border: 2px solid rgba(154, 154, 154, 0.52);
}

.search__input:focus {
    padding: 9px 14px;

    border: 2px solid rgba(46, 136, 228, 0.52);
    outline: none;
}

.search__input::placeholder {
    font-weight: 400;
    color: #999999;
}

.search__button {
    position: absolute;
    top: -36px;
    right: 0;
}

.user {
    position: relative;

    height: 36px;
}

.user:hover .user__form {
    display: flex;
}

.user:hover .button--user {
    color: #323232;

    background-color: #f8f7f4;
}

.user:hover .button--user::before {
    background-image: url(../img/icons/entrance-dark.svg);
}

.user__link {
    display: block;
}

.user__form {
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 10;

    display: none;
    flex-direction: column;
    width: 247px;
    padding: 20px 15px;

    background: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-form__input {
    margin-bottom: 20px;
    padding: 10px 15px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #323232;

    background-color: #ffffff;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.user-form__input:hover {
    padding: 9px 14px;

    border: 2px solid rgba(154, 154, 154, 0.52);
}

.user-form__input:focus {
    padding: 9px 14px;

    border: 2px solid rgba(46, 136, 228, 0.52);
    outline: none;
}

.user-form__input::placeholder {
    font-weight: 400;
    color: #999999;
}

.user-form__button {
    min-width: 100px;
    margin-right: 20px;
}

.user-form__row {
    display: flex;
}

.user-form__container {
    display: flex;
    flex-direction: column;
}

.user-form__link {
    align-self: flex-start;
    margin: 5px 0;

    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #323232;
    text-decoration: none;

    border-bottom: 1px solid rgba(50, 50, 50, 0.3);

    transition: color 0.3s, border-color 0.3s;
}

.user-form__link:hover,
.user-form__link:focus,
.user-form__link:active {
    color: #e84d37;

    border-bottom-color: rgba(232, 77, 55, 0.3);
}

.cart {
    position: relative;

    height: 36px;
}

.cart:hover .cart__dropdown {
    display: flex;
}

.cart:hover .button--cart {
    color: #323232;

    background-color: #f8f7f4;
}

.cart:hover .button--cart::before {
    background-image: url(../img/icons/basket-dark.svg);
}

.cart--not-empty .cart__link {
    color: #323232;

    background-color: #f8f7f4;
}

.cart--not-empty .cart__link::before,
.cart--not-empty:hover .cart__link::before {
    background-image: url(../img/icons/basket-red-dark.svg);
}

.cart__link {
    display: block;
}

.cart__dropdown {
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 10;

    display: none;
    flex-direction: column;
    width: 510px;
    padding: 20px 15px;

    background-color: rgb(248, 247, 244);
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.cart__list {
    margin: 0 0 15px 0;
    padding: 0;

    list-style: none;

    border-bottom: 1px solid #cacac7;
}

.cart__item {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.cart-item__img {
    align-self: flex-start;
    width: 33px;
    height: 33px;
    margin-right: 15px;

    vertical-align: middle;
}

.cart-item__link {
    width: 220px;
    margin-right: auto;
    padding-top: 8px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    text-decoration: none;

    transition: color 0.3s;
}

.cart-item__link:hover,
.cart-item__link:focus,
.cart-item__link:active {
    color: #e84d37;
}

.cart-item__qtty {
    margin-left: 10px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    text-align: right;
    color: #323232;
}

.cart-item__price {
    position: relative;

    margin-left: 13px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #999999;
}

.cart-item__price::before {
    content: "x";
    position: absolute;
    top: 0;
    left: -10px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.cart-item__total-price {
    width: 70px;
    margin-right: 20px;
    margin-left: 10px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #323232;
}

.cart-item__remove {
    order: -1;
    align-self: flex-start;
    height: 33px;
    padding: 0 26px 0 0;
}

.cart__total-price {
    align-self: flex-end;
    margin: 0 0 15px 0;

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #323232;
}

.cart__create-order-link {
    align-self: flex-end;
}

.slider {
    position: relative;

    margin-bottom: -20px;
}

.slider__controls {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 10;

    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-controls__item {
    position: relative;

    height: 21px;
    margin-right: 8px;
    padding: 0 0 0 21px;

    font-size: 0;
}

.slider-controls__item:last-child {
    margin-right: 0;
}

.slider-controls__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 17px;
    height: 17px;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color 0.3s;
}

.slider-controls__item:hover::before,
.slider-controls__item:focus::before {
    background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls__item:active::before {
    background-color: #ffffff;
}

.slider-controls__item--active::before {
    background-color: #ffffff;
}

.slider__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    position: relative;

    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 590px;

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 250px 7px, right 250px top 50px;
}

.slider-item--active {
    display: flex;
}

.slider-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;

    width: 300px;
    height: 300px;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    box-shadow: 0 0 150px 200px rgba(255, 255, 255, 0.3);
}

.slider-item:nth-child(1) {
    background-image: url(../img/icecream-1.png),
        url(../img/icecream-2.png);
}

.slider-item:nth-child(2) {
    background-image: url(../img/icecream-3.png),
        url(../img/icecream-4.png);
}

.slider-item:nth-child(3) {
    background-image: url(../img/icecream-5.png),
        url(../img/icecream-6.png);
}

.slider-item__title {
    width: 670px;
    margin: 0 0 30px 0;

    font-weight: 700;
    font-size: 60px;
    line-height: 60.35px;
    text-align: center;
    color: #ffffff;
}

.slider-item__link {
    margin-bottom: 60px;
}

.specials {
    z-index: 5;
}

.specials__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
    padding: 0;

    list-style: none;
}

.specials-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 560px;
    margin-bottom: 15px;
    padding: 15px 20px 25px;

    background: #5a3724;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.specials-item:nth-child(1) {
    background-image: url(../img/strawberry-bg.jpg);
}

.specials-item:nth-child(2) {
    background-image: url(../img/choco-bg.jpg);
}

.specials-item__title {
    margin: 0 0 15px 0;

    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
}

.specials-item__descr {
    margin: 0 0 45px 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.specials-item__link {
    align-self: flex-end;
    margin-top: auto;
}

.benefits {
    padding: 25px 20px 15px;

    background-color: #efe3ce;
    background-image: url(../img/benefits-bg.png);
    background-repeat: repeat;
    border-radius: 15px;
}

.benefits__descr {
    margin: 0 0 8px 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.benefits__item {
    position: relative;

    box-sizing: border-box;
    width: 50%;
    margin-bottom: 7px;
    padding: 15px 0 0 57px;
}

.benefits__item:nth-child(2n-1) {
    padding-right: 20px;
}

.benefits__item:nth-child(2n) {
    padding-right: 5px;
    padding-left: 70px;
}

.benefits__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 49px;
    height: 49px;
}

.benefits__item:nth-child(2n)::before {
    left: 10px;
}

.benefits__item:nth-child(1)::before {
    background-image: url(../img/icons/ice-cream.svg);
}

.benefits__item:nth-child(2)::before {
    background-image: url(../img/icons/cow.svg);
}

.benefits__item:nth-child(3)::before {
    background-image: url(../img/icons/eco.svg);
}

.benefits__item:nth-child(4)::before {
    background-image: url(../img/icons/thermometer.svg);
}

.blog-news {
    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
    padding: 25px 20px;

    background: #ffffff;
    background-image: url(../img/strawberry-icecream-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 15px;
}

.blog-news__title {
    margin: 0 0 2px 0;
    padding: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.blog-news__list {
    width: 280px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.blog-news__item {
    margin-bottom: 10px;
}

.blog-news__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #323232;

    transition: color 0.3s;
}

.blog-news__link:hover,
.blog-news__link:focus,
.blog-news__link:active {
    color: #e84d37;
}

.subscribe {
    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
    padding: 4px 5px 5px 6px;

    background: #ffffff;
    background-image: url(../img/subscribe-bg.png);
    border-radius: 15px;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 33px 22px 35px 21px;

    background-color: #f8f7f4;
    border: none;
    border-radius: 15px;
}

.subscribe__descr {
    margin: 0 0 20px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
}

.subscribe__container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.subscribe__input {
    flex-grow: 1;
    margin-right: 11px;
    padding: 9px 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #323232;

    background-color: #ffffff;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
}

.subscribe__input::placeholder {
    font-weight: 400;
    color: #999999;
}

.subscribe__input:hover {
    padding: 8px 14px;

    border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscribe__input:focus {
    padding: 8px 14px;

    border: 2px solid rgba(46, 136, 228, 0.52);
    outline: none;
}

.contacts {
    position: relative;
}

.contacts__ya-map {
    height: 430px;
}

.contacts__img-map {
    display: none;
}

.contacts__container {
    position: absolute;
    top: 60px;
    right: 93px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 303px;
    min-height: 305px;
    padding: 30px 25px;

    background-color: #ffffff;
    border-radius: 15px;
}

.contacts__title {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.contacts__title:first-child {
    width: 150px;
}

.contacts__address {
    margin: 0 0 20px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #323232;
}

.contacts__phone {
    margin: 0 0 10px 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    text-decoration: none;

    transition: color 0.3s;
}

.contacts__phone:hover,
.contacts__phone:focus,
.contacts__phone:active {
    color: #e84d37;
}

.contacts__worktime {
    margin: 0 0 26px 0;

    font-weight: 400;
    font-size: 14px;
}

.contacts__link {
    margin: auto 0 0 0;

    text-align: center;
}

.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.breadcrumbs__item {
    margin: 0;
}

.breadcrumbs__item:not(:last-child)::after {
    content: "»";

    margin: 0 5px 0 3px;
}

.breadcrumbs__link {
    color: #ffffff;
    text-decoration: none;

    border-bottom: 1px solid rgba(248, 247, 244, 0.3);

    transition: color 0.3s, border-bottom-color 0.3s;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
    color: #ffbc9e;

    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.filter-form__fieldset {
    position: relative;

    margin: 20px 15px 20px 0;
    padding: 7px 13px;

    background-color: rgba(248, 247, 244, 0.2);
    border: none;
    border-radius: 50px;
}

.filter-form__fieldset--select {
    padding: 0;
}

.filter-form__legend {
    position: absolute;
    top: -20px;
    left: 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.filter-form__select {
    position: relative;

    min-width: 194px;
    padding: 9px 17px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: transparent;
    background-image: url(../img/icons/icon-down-dir-light.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    transition: color 0.3s,
        background-color 0.3s;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter-form__select::-ms-expand {
    display: none;
}

.filter-form__select:hover {
    color: #323232;

    background-image: url(../img/icons/icon-down-dir.svg);
}

.filter-form__select:focus {
    color: #323232;

    background-color: #ffffff;
    background-image: url(../img/icons/icon-down-dir.svg);
}

.filter-form__option {
    color: #000000;
}

.filter-form__label {
    position: relative;

    display: inline-block;
    margin-right: 15px;
    padding-left: 34px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto;
    color: #ffffff;
}

.filter-form__radio + .filter-form__label {
    margin-right: 10px;
    padding-left: 35px;
}

.filter-form__label:last-child {
    margin-right: 5px;
}

.filter-form__radio + .filter-form__label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 3px;

    width: 22px;
    height: 100%;

    background-image: url(../img/icons/radio-off.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    opacity: 0.8;

    transition: opacity 0.3s;
}

.filter-form__radio:checked + .filter-form__label::before {
    background-image: url(../img/icons/radio-on.svg);
}

.filter-form__checkbox + .filter-form__label::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 3px;

    width: 19px;
    height: 100%;

    background-image: url(../img/icons/checkbox-off.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;

    transition: opacity 0.3s;
}

.filter-form__checkbox:checked + .filter-form__label::before {
    width: 22px;

    background-image: url(../img/icons/checkbox-on.svg);
}

.filter-form__label:hover::before,
.filter-form__checkbox:focus + .filter-form__label::before,
.filter-form__radio:focus + .filter-form__label::before {
    opacity: 1;
}

.filter-form__radio:disabled + .filter-form__label::before,
.filter-form__checkbox:disabled + .filter-form__label::before {
    opacity: 0.4;
}

.filter-form__button {
    margin: 20px 0;
}

.range-filter {
    width: 190px;
}

.range-filter__range-controls {
    padding: 9px 7px;
}

.range-filter__scale {
    position: relative;

    height: 4px;

    background-color: rgba(248, 247, 244, 0.5);
}

.range-filter__bar {
    position: absolute;
    top: 0;
    left: 23px;

    width: 100px;
    height: 4px;

    background-color: rgb(248, 247, 244);
}

.range-filter__scroll {
    content: "";
    position: absolute;
    top: -8px;

    width: 21px;
    height: 24px;

    background-image: url(../img/icons/filter-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.range-filter__scroll--left {
    left: -10px;
}

.range-filter__scroll--right {
    right: -10px;
}

.range-filter__scroll--left:hover,
.range-filter__scroll--left:focus {
    top: -9px;
    left: -11px;

    width: 23px;
    height: 26px;
}

.range-filter__scroll--right:hover,
.range-filter__scroll--right:focus {
    top: -9px;
    right: -11px;

    width: 23px;
    height: 26px;
}

.range-filter__price-controls {
    position: absolute;
    top: -22px;
    left: 55px;

    display: flex;
}

.range-filter__price-label {
    margin-right: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgb(255, 255, 255);
}

.range-filter__price-label:first-child::after {
    content: " –";
}

.range-filter__price-label:last-child {
    margin-right: 0;
}

.range-filter__price-input {
    width: 25px;
    height: 18px;
    padding: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgb(255, 255, 255);

    background: transparent;
    border: none;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.products-item {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 267px;
    margin-right: 0;
    padding: 6px 13px 22px;

    border-radius: 5px;

    transition: background-color 0.3s, box-shadow 0.3s;
}

.products-item:hover,
.products-item:focus {
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.products-item:hover .products-item__button,
.products-item:focus .products-item__button {
    opacity: 1;
}

.products-item__button:focus {
    opacity: 1;
}

.products-item:nth-child(n+5) {
    margin-top: -45px;
}

.products-item--tag::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 13px;

    width: 61px;
    height: 61px;

    background-image: url(../img/icons/hit.svg);
}

.products-item__img {
    z-index: -10;
    border-radius: 50%;
    margin: 0 0 15px;
}

.products-item__title {
    margin: 0 0 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.products-item__link {
    color: #ffffff;
    text-decoration: none;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    transition: color 0.3s, border-bottom-color 0.3s;
}

.products-item__link:hover,
.products-item__link:focus,
.products-item__link:active {
    color: #ffbc9e;

    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.products-item__price {
    position: absolute;
    top: 214px;
    left: 13px;

    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
    word-spacing: -4px;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.products-item__unit {
    font-size: 30px;
}

.products-item__button {
    z-index: 10;
    align-self: center;
    margin-top: auto;

    opacity: 0;
}

.products-pagination__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 30px;

    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.products-pagination__item {
    margin-right: 2px;
}

.products-pagination__item:last-child {
    margin-right: 0;
}

.products-pagination__link {
    display: block;
    width: 18px;
    height: 18px;
    padding: 5px;

    text-align: center;
    color: #ffffff;
    text-decoration: none;

    background-color: transparent;
    border-radius: 50px;

    transition: color 0.3s, background-color 0.3s;
}

.products-pagination__link:hover,
.products-pagination__link:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.products-pagination__link:active {
    color: #323232;

    background-color: #ffffff;
}

.products-pagination__link--back {
    position: relative;

    padding: 5px 0;

    color: #323232;

    background-color: transparent;
    opacity: 0.2;
}

.products-pagination__link--back:hover,
.products-pagination__link--back:focus,
.products-pagination__link--back:active {
    color: #323232;

    background-color: transparent;
}

.products-pagination__link--back::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 9px;
    height: 14px;

    background-image: url(../img/icons/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.products-pagination__link--forward {
    position: relative;

    padding: 5px 0;

    color: #323232;

    background-color: transparent;
}

.products-pagination__link--forward:hover,
.products-pagination__link--forward:focus,
.products-pagination__link--forward:active {
    color: #323232;

    background-color: transparent;
}

.products-pagination__link--forward::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;

    width: 9px;
    height: 14px;

    background-image: url(../img/icons/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.products-pagination__link--current {
    color: #323232;

    background-color: #ffffff;
}

.socials {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.socials__item {
    margin-right: 13px;
    margin-bottom: 4px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    width: 32px;
    height: 32px;

    background-image: linear-gradient(45deg, #ffffff 20%, transparent 20%), linear-gradient(90deg, #ffffff 20%, transparent 20%), linear-gradient(135deg, #ffffff 20%, transparent 20%), linear-gradient(180deg, #ffffff 20%, transparent 20%), linear-gradient(225deg, #ffffff 20%, transparent 20%), linear-gradient(270deg, #ffffff 20%, transparent 20%), linear-gradient(315deg, #ffffff 20%, transparent 20%), linear-gradient(360deg, #ffffff 20%, transparent 20%);
    border: 2px solid #ededed;
    border-radius: 50%;
    opacity: 0.7;

    transition: opacity 0.3s;
}

.socials__link:hover,
.socials__link:focus {
    opacity: 1;
}

.socials__link:active {
    opacity: 0.7;
}

.socials__img {
    vertical-align: middle;
}

.info-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 44px;
    margin: 0;
    padding: 0;

    list-style: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
}

.info-menu__item {
    margin-right: 10px;
    padding-left: 20px;
}

.info-menu__item--marked {
    position: relative;
}

.info-menu__item--marked::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;

    width: 15px;
    height: 100%;

    background-image: url(../img/icons/heart.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.info-menu__link {
    color: #ffffff;
    text-decoration: none;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    transition: color 0.3s, border-bottom-color 0.3s;
}

.info-menu__link:hover,
.info-menu__link:focus,
.info-menu__link:active {
    color: #ffbc9e;

    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.studio-link {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fefefe;
}

.studio-link__link {
    color: #fefefe;
    text-decoration: none;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    transition: color 0.3s, border-bottom-color 0.3s;
}

.studio-link__link:hover,
.studio-link__link:focus,
.studio-link__link:active {
    color: #ffbc9e;

    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.studio-link__img {
    margin-bottom: 5px;
}

.modal {
    box-sizing: border-box;
    width: 478px;
    min-height: 443px;
    padding: 20px 25px 25px;

    background-color: #f8f7f4;
    border-radius: 15px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.feedback-form__input,
.feedback-form__textarea {
    width: 267px;
    margin: 0 0 20px;
    padding: 10px 15px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #323232;

    background-color: #ffffff;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
}

.feedback-form__textarea {
    box-sizing: border-box;
    width: auto;
    height: 155px;
    margin: 0 0 25px;

    resize: none;
}

.feedback-form__input::placeholder,
.feedback-form__textarea::placeholder {
    font-weight: 400;
    color: #999999;
}

.feedback-form__input:hover,
.feedback-form__textarea:hover {
    padding: 9px 14px;

    border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form__input:focus,
.feedback-form__textarea:focus {
    padding: 9px 14px;

    border: 2px solid rgba(46, 136, 228, 0.52);
    outline: none;
}

.feedback-form__descr {
    order: -1;
    margin: 0 0 25px;

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
}

.feedback-form__button {
    align-self: flex-end;
    margin-top: auto;
}

.modal__button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.site-header {
    width: 1146px;
    margin: 9px auto 0;
}

.site-header__nav {
    position: relative;

    display: flex;
}

.site-header__logo {
    margin-right: 10px;
}

.site-header__info-block {
    position: absolute;
    top: 68px;
    right: 0;
    z-index: 10;

    order: 1;
}

.site-header__main-menu {
    margin: 19px 10px 0 0;
}

.site-header__search {
    margin: 19px 10px 0 auto;
}

.site-header__user {
    margin: 19px 10px 0 0;
}

.site-header__cart {
    margin: 19px 0 0 0;
}

.site-content {
    display: flex;
    flex-direction: column;
    width: 1146px;
    margin: 0 auto;
}

.site-content__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 40px;
    padding: 0;
}

.site-content__benefits {
    margin: 0 0 40px;
}

.site-content__bestsellers {
    margin: 0 -13px -40px;
}

.site-content__title {
    margin: 0 0 30px;

    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
}

.site-content__breadcrumbs {
    order: -1;
    width: 900px;
    margin: 20px 0 0;
}

.site-content__products-filter {
    margin: 0 0 10px;
}

.site-content__products {
    margin: 0 -13px;
}

.site-footer {
    display: flex;
    align-items: flex-end;
    width: 1146px;
    margin: auto auto 0;
    padding: 15px 0 30px;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-footer__info-menu {
    margin: 0 auto;
}

.site-modals__wrap {
    position: fixed;
    top: 0;
    z-index: 30;

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}

.site-modals__modal {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    z-index: 50;

    margin: auto;
}

.modal--feedback {
    display: none;
}

.modal-show {
    display: block;

    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.wrap-show {
    display: block;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
